<div id="users-page" >
    
    <div id="trainer-grid" *ngIf="!showPokemons">
        <mat-card class="trainer-card" *ngFor="let user of users">
            <mat-card-header>
                <mat-card-title>
                    <strong>Nome:</strong> {{user.publicName}}
                </mat-card-title>
                <mat-card-subtitle>
                    <strong>Id:</strong> {{user.userId}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p><strong>Role:</strong> {{user.role}}</p>
                <p><strong>Email:</strong> {{user.userEmail}}</p>
                <p><strong>Criação:</strong> {{user.createdAt | date:'dd/MM/yyyy'}}</p>
            </mat-card-content>

            <mat-card-footer class="p-3">
                <button mat-raised-button id="inspect-button" class="w-100" (click)="onInspectClick(user.userId)">
                    INSPECIONAR
                </button>
                <button mat-raised-button id="role-button" class="w-100" (click)="onInspectClick(user.userId)">
                    ALTERAR FUNÇÃO
                </button>
            </mat-card-footer>
        </mat-card>
    </div>
    
     <div id="trainer-grid" *ngIf="showPokemons">
        <button mat-raised-button class="close-button-x" (click)="onReturnClick()">
            &times;
        </button>
        <div *ngIf="userPokemonList.length === 0">
            <p >Treinador não possui pokemons</p>
        </div>
        <mat-card class="pokemons-card" *ngFor="let pokemon of userPokemonList">
            <mat-card-header>
                <mat-card-title>
                    <strong>Nome:</strong> {{pokemon.pokeName}}
                </mat-card-title>
                <mat-card-subtitle>
                    <strong>Id:</strong> {{pokemon.pokeId}}
                </mat-card-subtitle>
            </mat-card-header>
            <div class="img-container">
                <img [src]="pokemon.imgUrl" [alt]="pokemon.imgUrl" id="pokemon-img">
            </div>
            <mat-card-content>
                <div class="status-box ">
                    <span><strong>Força:</strong>{{pokemon.power}}<br></span>
                    <span><strong>captura</strong>{{pokemon.captureDate}}</span>
                </div>
            </mat-card-content>

            <mat-card-footer class="card-action">
                <button mat-raised-button id="delete-button" (click)="onDeleteClick(pokemon)">DELETAR POKEMON</button>
            </mat-card-footer>

        </mat-card>
    </div>

    </div>