<div class="d-flex justify-content-center align-items-center min-vh-100" id="initial-page-img">
    <div id="initial-page-content">
        <mat-card  id="welcome-card">
            <mat-card-title>Olá {{userRole}} <br><br> {{userName}}</mat-card-title>
            <mat-card-content>
                <div>      
                    <p>Seja bem vindo.</p>
                </div>
                <div>
                    <p>Vamos começar nossa aventura!!</p>
                </div>
                <button id="start-button" mat-flat-button>Começar aventura</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>