<div class="d-flex justify-content-center align-items-center " id="capture-page-backgrou">
    <mat-card id="capture-page-content">
        <mat-card-content id="capture-box">
            <div id="capture-box-content">

            </div>
            <mat-card-footer id="card-footer" class=" d-flex align-items-center">
                <button mat-raised-button id="capture-button" (click)="onCaptureClick()">Capturar pokemon </button>
            </mat-card-footer>
        </mat-card-content>
    </mat-card>
</div>
