#capture-page-backgrou{
    background-image: url('src/assets/capturePageBackgound.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#capture-page-content{
    height: 400px !important;
    width: 300px !important;
    background-image: url('src/assets/captureCardBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#capture-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#card-footer{
    padding: 16px;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

#capture-box-content{
    background-color: rgba(255, 255, 255, 0.7);
    width:250px;
    height: 285px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#capture-button{
    background-color: #EB212E !important;
    font-weight: bold;
}

.capturing-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shaking-pokeball{
    width: 80px;
    height: 80px;
    animation: shake 1.2s infinite ease-in-out;
}

@keyframes shake{
    0% { transform: translate(0, 0) rotate(0deg);}
    20% { transform: translate(-10px, 0) rotate(-20deg);}
    40% { transform: translate(10px, 0) rotate(20deg);}
    60% { transform: translate(-10px, 0) rotate(-20deg);}
    80% { transform: translate(10px, 0) rotate(20deg);}
    100% { transform: translate(0, 0) rotate(0deg);}
}

.blink-text{    
    margin-top: 15px;
    font-weight: bold;
    color: #EB212E;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity: 1;}
    50% { opacity: 0.5;}
    100% { opacity: 1;}
}

.pokemon-img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    animation: popIn 0.5s;
}

@keyframes popIn{
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.pokemon-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: popIn 0.5s ease-out;
}

.pokemon-display h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    color: #333;
}


.sucess-text{
    color: #28a745;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}