#adiciona-pokemon-page{
    background-image: url('/assets/addPokemonPage.png');
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}


#form-card{
    max-width: 450px;
    background-color: #FCEC06 ;
    box-shadow: 0px 4px 15px rgb(18, 18, 18);
}

#form-card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.full-width{
    width: 100%;
    margin-bottom: 15px;
}

#submit-button{
    background-color: #EB212E !important;
    box-shadow: 0px 4px 15px rgb(18, 18, 18);
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 15px;
}