<mat-toolbar id="nav-bar" *ngIf="showNavbar">
  <div class="d-flex w-100 justify-content-end aling-item-center gap-2">  
    <button *ngIf="isAdmin" class="button" mat-raised-button>Usuarios</button>
    <button *ngIf="isAdmin" class="button" mat-raised-button>Aidicionar pokemons</button>
    <button class="button" mat-raised-button>Capturar pokemons</button>
    <button class="button" mat-raised-button>Meus pokemons</button>
    <button class="button" mat-raised-button>Pokedex</button>
    <button id="logoutButton" (click)="onLogoutClick()" mat-raised-button>Logout</button>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
