#home-page{
    background-image: url('/assets/imagemHome.png');
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#home-page-button{
    margin-top: 600px;
}

.btn-adventure{
    background-color:#E73632;
    color: white;
    padding: 10px 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18);
}

.content-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}

.login-container {
    position: absolute; 
    top: 5px;          
    right: 5px;        
    z-index: 10;        
}

#right-top-content{
    background-color: #FCEC06;
    color: rgb(18, 18, 18);
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18);
}