<div class="container-fluid p-0" id="home-page">
    <div class="login-container d-flex justify-content-end p-3">
        <button mat-flat-button id="right-top-content" routerLink="/login">
            login
        </button>
    </div>
    <div  class="content-wrapper"> 
        <div class="col-12 text-center" id="home-page-landing">
            <div id="home-page-button">
                <button mat-raised-button class="btn-adventure" routerLink="/login">
                    Começe já a sua aventura!
                </button>
            </div>
        </div>
    </div>
</div>