#my-pokemon-page{
    background-image: url('src/assets/myPokemonsBackground.png');
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.img-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

#pokemons-img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.power-box{
    color: #EB212E;
    margin-top: 5px;
}

#card-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px !important;
    background-color: #FCEC06;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
}

#card-action button{
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
}

.pokemon-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
    background-color: #4C2F83;
    border-radius: 8px;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgb(18, 18, 18) !important;
}
.pokemon-card:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#feedom-button{
    background-color: #EB212E  !important;
}

#stronger-button{
    background-color: #2D3184 !important;
}